html, body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

#top {
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

.block {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.air {
  background: #ffffff;
}

.dirt {
  background: #61402b;
}

.stone {
  background: #757575;
}

.oak_planks {
  background: #af845b;
}

.glass {
  background: #c0dfe0;
}

.bricks {
  background: #924627;
}

.prismarine {
  background: #0e6699;
}

.crying_obsidian {
  background: #470470;
}

.honeycomb_block {
  background: #f59312;
}

.inline{
  display: inline-block;
  margin: 0em 1em 1em 1em;
}



/* https://stackoverflow.com/a/17541916 */

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}