<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>NBT Structure Maker API</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <section id="topSection">
  </section>
  <section id="blockSelector">
    <div class="button">
      <div class="inline">
        <h3>Dirt</h3>
        <label>
          <input type="radio" name="blockRadio" value="dirt" checked/>
          <img src="../assets/img/dirt.jpg">
        </label>
      </div>

      <div class="inline">
        <h3>Stone</h3>
        <label>
          <input type="radio" name="blockRadio" value="stone"/>
          <img src="../assets/img/stone.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Oak<br>Planks</h3>
        <label>
          <input type="radio" name="blockRadio" value="oak_planks"/>
          <img src="../assets/img/oak_planks.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Glass</h3>
        <label>
          <input type="radio" name="blockRadio" value="glass"/>
          <img src="../assets/img/glass.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Bricks</h3>
        <label>
          <input type="radio" name="blockRadio" value="bricks"/>
          <img src="../assets/img/bricks.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Prismarine</h3>
        <label>
          <input type="radio" name="blockRadio" value="prismarine"/>
          <img src="../assets/img/prismarine.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Crying<br>Obsidian</h3>
        <label>
          <input type="radio" name="blockRadio" value="crying_obsidian"/>
          <img src="../assets/img/crying_obsidian.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Honeycomb<br>Block</h3>
        <label>
          <input type="radio" name="blockRadio" value="honeycomb_block"/>
          <img src="../assets/img/honeycomb_block.jpg">
        </label>
      </div>
      
      <div class="inline">
        <h3>Air</h3>
        <label>
          <input type="radio" name="blockRadio" value="air"/>
          <img src="../assets/img/air.jpg">
        </label>
      </div>
    </div>
  </section>
  <script src="/assets/bundle.js"></script>
</body>
</html>
